[submodule "externals/android_gingerbread_mr1"]
	path = externals/android_gingerbread_mr1
	url = git@github.com:ardrobot/android_gingerbread_mr1.git
[submodule "externals/AndroidOpenAccessory"]
	path = externals/AndroidOpenAccessory
	url = git@github.com:ardrobot/AndroidOpenAccessory.git
